@font-face {
  font-family: 'apock-iconos';
  src:  url('apock-iconos/apock-iconos.eot?hkgmuq');
  src:  url('apock-iconos/apock-iconos.eot?hkgmuq#iefix') format('embedded-opentype'),
    url('apock-iconos/apock-iconos.ttf?hkgmuq') format('truetype'),
    url('apock-iconos/apock-iconos.woff?hkgmuq') format('woff'),
    url('apock-iconos/apock-iconos.svg?hkgmuq#apock-iconos') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icono-"], [class*=" icono-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'apock-iconos' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icono-"].no-alin {
  vertical-align: 0 !important;
}

.icono-agenda::before {
  content: "\e900";
}
.icono-alerta::before {
  content: "\e901";
}
.icono-bajar::before {
  content: "\e902";
}
.icono-biblioteca::before {
  content: "\e903";
}
.icono-bloqueado::before {
  content: "\e904";
}
.icono-buscar::before {
  content: "\e905";
}
.icono-calendario::before {
  content: "\e906";
}
.icono-candado::before {
  content: "\e907";
}
.icono-carrito::before {
  content: "\e908";
}
.icono-carta::before {
  content: "\e909";
}
.icono-casa::before {
  content: "\e90a";
}
.icono-circulo-aba::before {
  content: "\e90b";
}
.icono-circulo-arr::before {
  content: "\e90c";
}
.icono-circulo-der::before {
  content: "\e90d";
}
.icono-circulo-izq::before {
  content: "\e90e";
}
.icono-circulo-nomarcado::before {
  content: "\e90f";
}
.icono-codigo::before {
  content: "\e910";
}
.icono-compartir::before {
  content: "\e911";
}
.icono-copiar::before {
  content: "\e912";
}
.icono-css3::before {
  content: "\e913";
}
.icono-cuadro-marcado::before {
  content: "\e914";
}
.icono-cuadro-nomarcado::before {
  content: "\e915";
}
.icono-circulo-marcado::before {
  content: "\e916";
}
.icono-deshacer::before {
  content: "\e917";
}
.icono-dinero::before {
  content: "\e918";
}
.icono-direccion-aba::before {
  content: "\e919";
}
.icono-direccion-arr::before {
  content: "\e91a";
}
.icono-direccion-der::before {
  content: "\e91b";
}
.icono-direccion-izq::before {
  content: "\e91c";
}
.icono-encoger::before {
  content: "\e91d";
}
.icono-entrar::before {
  content: "\e91e";
}
.icono-equis::before {
  content: "\e91f";
}
.icono-etiqueta::before {
  content: "\e920";
}
.icono-expandir::before {
  content: "\e921";
}
.icono-filtro::before {
  content: "\e922";
}
.icono-folder::before {
  content: "\e923";
}
.icono-globo::before {
  content: "\e924";
}
.icono-globo2::before {
  content: "\e925";
}
.icono-grafica::before {
  content: "\e926";
}
.icono-hoja::before {
  content: "\e927";
}
.icono-hoja-texto::before {
  content: "\e928";
}
.icono-html5::before {
  content: "\e929";
}
.icono-imagen::before {
  content: "\e92a";
}
.icono-informacion::before {
  content: "\e92b";
}
.icono-interructor::before {
  content: "\e92c";
}
.icono-interructor2::before {
  content: "\e92d";
}
.icono-jscript::before {
  content: "\e92e";
}
.icono-juego::before {
  content: "\e92f";
}
.icono-lapiz::before {
  content: "\e930";
}
.icono-libro::before {
  content: "\e931";
}
.icono-libros::before {
  content: "\e932";
}
.icono-llave::before {
  content: "\e933";
}
.icono-megafono::before {
  content: "\e934";
}
.icono-mas::before {
  content: "\e935";
}
.icono-menos::before {
  content: "\e936";
}
.icono-menu::before {
  content: "\e937";
}
.icono-menu-cuadro::before {
  content: "\e938";
}
.icono-menu-grupo::before {
  content: "\e939";
}
.icono-menu-lista::before {
  content: "\e93a";
}
.icono-menu-puntos::before {
  content: "\e93b";
}
.icono-menu-puntos2::before {
  content: "\e93c";
}
.icono-monitor::before {
  content: "\e93d";
}
.icono-movil::before {
  content: "\e93e";
}
.icono-musica::before {
  content: "\e93f";
}
.icono-notificacion::before {
  content: "\e940";
}
.icono-oficina::before {
  content: "\e941";
}
.icono-pausar::before {
  content: "\e942";
}
.icono-periodico::before {
  content: "\e943";
}
.icono-pintura::before {
  content: "\e944";
}
.icono-portatil::before {
  content: "\e945";
}
.icono-pregunta::before {
  content: "\e946";
}
.icono-rehacer::before {
  content: "\e947";
}
.icono-reloj::before {
  content: "\e948";
}
.icono-reproducir::before {
  content: "\e949";
}
.icono-salir::before {
  content: "\e94a";
}
.icono-subir::before {
  content: "\e94b";
}
.icono-tachuela::before {
  content: "\e94c";
}
.icono-targeta::before {
  content: "\e94d";
}
.icono-telefono::before {
  content: "\e94e";
}
.icono-tiquete::before {
  content: "\e94f";
}
.icono-ubicacion::before {
  content: "\e950";
}
.icono-usuario::before {
  content: "\e951";
}
.icono-ver::before {
  content: "\e952";
}
.icono-video::before {
  content: "\e953";
}
